---
layout: page
title: Analogue Pocket
---

<p>
  The <a href="https://www.analogue.co/pocket">Analogue Pocket</a> is a multi-video-game-system portable handheld designed and built by <a href="https://www.analogue.co">Analogue</a>.
</p>

<h2 id="cores">Cores</h2>

<table class="datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Platform</th>
      <th>Author</th>
      <th>Release</th>
      <th>Release Date</th>
    </tr>
  </thead>
  <tbody>
    {% for developer in site.data.cores -%}
      {% for core in developer.cores -%}
        <tr>
          <td><a href="https://github.com/{{ developer.username }}/{{ core.repo }}">{{ core.display_name }}</a></td>
          <td>{{ core.platform }}</td>
          <td><a href="https://github.com/{{ developer.username }}">{{ developer.username }}</a></td>
          <td>
            <a href="https://github.com/{{ developer.username }}/{{ core.repo }}/releases/latest">
              <img src="https://img.shields.io/github/v/release/{{ developer.username }}/{{ core.repo }}?include_prereleases" alt="release">
            </a>
          </td>
          <td><img src="https://img.shields.io/github/release-date-pre/{{ developer.username }}/{{ core.repo }}" alt="GitHub Release Date"></td>
        </tr>
      {% endfor -%}
    {% endfor -%}
  </tbody>
</table>

<script src="{{ base.url | prepend: site.url }}/openfpga-cores-inventory/assets/js/vendor/jquery-3.6.0.js"></script>
<script src="{{ base.url | prepend: site.url }}/openfpga-cores-inventory/assets/js/vendor/datatables.js"></script>
<script src="{{ base.url | prepend: site.url }}/openfpga-cores-inventory/assets/js/script.js"></script>
